/* PHASE 7: Online */

.online:after {
  content: "ONLINE";
  position: absolute;
  text-align: center;
  color: #fff;
  background: #0c0;
  width: 150px;
  padding: 5px;
  top: 12px;
  box-shadow: 0 0 1px 0 black;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  left: -55px;
  float: left;
  transform: rotate(-0.13turn);
  /*transform: translateX(-30px, 50%);*/
}
