/* PHASE 9: Forms */

.form-div {
  display: block;
  position: relative;
  float: left;
  margin: 20px;
  background: yellow;
}

.main-post-form {
  display: block;
  position: absolute;
  float: left;
  margin: 20px;
  background: lightblue;
}

.content-main .thumb {
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  height: 60px;
  width: 60px;
  position: absolute;
}
